
h1 {
    text-align: center;
    color: #CD113B;

}
header{
    text-align: center;
    margin: 25px;

}
div {
    text-align: center;
    list-style-position: inside
}
div > h3 {
    color: #FFA900;
}
div > h2 {
    color: #52006A;
}
